* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.link {
  color: #83888f;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 50px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  background-image: url(../assets/Group\ 7.png);
  padding: 50px;
  color: #fff;
  gap: 20px;
  &__header {
    font-size: 40px;
  }
  &__text {
    width: 445px;
    line-height: 26px;
  }
}

.commitment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 175px;
  &__div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__header {
    font-size: 40px;
  }
  &__text {
    width: 540px;
  }
}

.quality {
  display: flex;
  align-items: center;
  padding: 60px;
  position: relative;
  background-color: #2c343e;
  margin: 20px auto;
  color: #fff;
  height: 470px;
  border-radius: 35px;
  &__div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__header {
    font-size: 40px;
  }
  &__text {
    width: 540px;
  }
  & img {
    position: absolute;
    top: -100px;
    right: 75px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c343e;
  padding: 30px;
  &__left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
