* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.link {
  color: #83888f;
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    justify-content: center;
    padding: 50px;
    background-image: url(../assets/create.png);
    height: 450px;
    &__header {
        font-size: 72px;
    }
    &__text {
        width: 445px;
        line-height: 26px;
    }
}

.pick {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    height: 450px;
    background-color: #2c343e;
    border-radius: 50px;
    align-items: start;
    color: #fff;
    &__div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 350px;
      gap: 40px;
      line-height: 25px;
    }
    &__header {
      color: #fdd6ba;
      font-size: 72px;
    }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c343e;
  padding: 30px;
  &__left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
